* {
    box-sizing: border-box;
    font-family: "Quicksand";
}

body,
h1,
h3,
button {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin: 10px 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.turn {
    margin: 10px;
}

.board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 100%;
    font-family: inherit;
}

.reset {
    background-color: #ef4444;
    margin-top: 20px;
}